# Code42 Splunk App
events
log
lookups
code42.tar.gz

# OSX noise
.DS_Store

# Compiled python files
*.pyc
*.pyo

# Eclipse project files
.project
.pydevproject

# PyCharm project files
.idea/
*.iml

# nosetest results
nosetests.xml

# hypothesis
.hypothesis

# Local stuff
local/
local.meta

# Git repositories folder
git-repositories/
d3_report_output
